@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background-color: white !important;
    font-size: 12pt;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .print-sheet {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
}

.print-only {
  display: none;
}
